/*
Palette
*/
:root {
    --black: #1A1A1A;
    --grey: #979797;
    --light-grey: #BCBCBC;
    --white-background: #EDEDED;
    --white: #FAFAFA;

    --red: #DD2900;
    --light-red: #FFE7E7;

    --glass: rgba(255, 255, 255, 0.85);
    --glass-border: rgba(255, 255, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    box-sizing: border-box;
}

body,
h1 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

body {
    height: 100vh;
    background-image: linear-gradient(#F4F4F4, #FFF);

    margin-bottom: 5rem;
}


/*  Header */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
    margin: 1.5rem 1.5rem 0rem 1.5rem;
}

.daily-logo {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: clamp(3rem, 5vw + 1rem, 4rem);
}

.header-info {
    font-size: 12px;
    color: var(--grey);
}


/*  Content */
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    margin: 0rem 1.5rem;
    margin-bottom: 4rem;
}

.top-component-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    height: 40px;
}


/*  Input form  */
.todo-input {
    display: flex;
    flex: 1;
    min-width: 200px;
    max-width: 600px;

    border-radius: 4px;
    border: 1px solid var(--light-grey);
    background-color: var(--white);

    padding: 0.75rem 0.625rem;
}

.todo-input:hover {
    box-shadow: 0px 6px 12px rgba(78, 78, 78, 0.2);
}

.todo-input:focus,
.todo-input:focus-visible {
    box-shadow: 0px 6px 12px rgba(78, 78, 78, 0.2);
    border: 1px solid var(--black);
}

.add-btn {
    background-color: var(--black);
    color: var(--white);
    min-width: 56px;

    border-radius: 4px;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.add-btn:hover {
    transform: scale(1.06);
    opacity: 0.9;
}

.add-btn:active {
    transform: scale(1);
    opacity: 1;
}


/*  Filter buttons  */
.filter-buttons {
    display: flex;
    gap: 1rem;
}

.filter-btn {
    min-width: 72px;
    max-width: 96px;
    height: 40px;

    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;

    background-color: transparent;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: var(--white-background);
    color: var(--black);
    transition: all 0.3s ease-out;
}

.filter-btn.active-filter {
    background-color: var(--black);
    color: var(--white);
    transition: all 0.35s ease-out;
}

/*  Grey line divider   */
hr.grey-line-divider {
    display: inline-block;
    border-top: 1px solid var(--light-grey);
    width: 100%;
}

hr.grey-line-divider.hide {
    display: none;
}


/* Todo section */
.todo-list-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    height: 72px;
    min-width: 200px;
    max-width: 800px;

    padding: 0.75rem 1.625rem;

    border: 1px solid var(--light-grey);
    border-radius: 8px;
    background-color: var(--white);
    transition: all 0.15s ease-out;
}

.todo-item:hover {
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.15);
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.2);
}

.todo-item.done {
    background-color: var(--white-background);
    border-color: var(--light-grey);
}

.todo-item-left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/*  Custom checkbox by Gemini AI, i modified its size and color only   */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;

    border: 2px solid var(--grey);
    border-radius: 4px;
    background-color: transparent;

    display: grid;
    place-content: center;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
}

input[type="checkbox"]:hover {
    background-color: var(--white-background);
    border-color: var(--black);
}

input[type="checkbox"]::before {
    content: "";
    width: 16px;
    height: 12px;

    box-shadow: inset 1em 1em white;
    transform: scale(0);

    transform-origin: center;
    transition: 120ms transform ease-in-out;

    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked {
    background-color: var(--black);
    border: none;
}

input[type="checkbox"]:checked::before {
    transform: scale(0.70);
}

.delete-btn {
    display: none;
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: var(--light-grey);

    transition: all 0.35s ease-out;
    cursor: pointer;
}

.todo-text.done {
    text-decoration: line-through;
    color: grey;
}

.todo-item:hover .delete-btn {
    display: inline-block;
    transition: all 0.35s ease-out;
}

.todo-item:hover .delete-btn:hover {
    color: var(--red);
    /*
    background-color: var(--light-red);
    */
}


/*  Clear all button    */
.clear-btn {
    min-width: 72px;
    max-width: 120px;
    height: 40px;

    border: none;
    border-radius: 4px;
    background-color: transparent;

    color: var(--red);
    transition: all 0.35s ease-out;
}

.clear-btn:hover {
    color: var(--red);
    background-color: var(--light-red);
}